body{
  background-color: lightgrey;
}

/* Definisco il box antenato che contiene gli elementi */
.listOb{
  width: 60%;
  height: 350px;
  border: 1px solid black;
  margin: 20px;

}

/* Css per dare forma e posizione ai contenitori del prodotto (figlio)  */
.boxOb{
  display: inline-block;
  position: relative;     /* Serve per dare il riferimento per la posizione del box dello scont  */
  width: 32.9%;
  height: 100%;
}

/* Vado ad adattare l'immagine al suo contenitore padre */
.boxOb img{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.boxOb img:hover{
  z-index: 0;
}

/* Nipote */
.boxSconto{
  background-color: green;
  position: absolute;
  right: 0;
  top: 0;
}

/* Creo un div nascosto  */
.addPref{
  width: 20%;
  height: 10%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 0;
}
